html{
    width: 100%;
}
body{
    background-image: url("./pics/back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: rgba(0,255,255,0.1);
    font-size: 5em;
    width: 100%;
}

p {
    text-align: center;
    background-color: rgba(0,255,255,0.5);
    width: 50%;
    margin: 10% 25% 10% 25%;
    color: black;
    font-size: 1.2em;
}

div{
    width: 80%;
    height: 50%;
    margin-bottom: 5%;
    padding: inherit;
}

img {
    width: auto;
    height: 300px;
    border: 3px solid pink;
    border-radius: 20px;
}

a {
    position: absolute;
    right: 10px;
}

form {
    width: 75%;
    margin: 12.5%;
    background-color: rgba(0, 255,255,0.5);
    border-radius: 20px;
    border: 3px dotted black;
    padding: 5px;
}
fieldset {
     border-radius: 20px;
    border: 3px dotted black;
}